.content {
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: none;
  height: 600px;
}

.aboutAlign {
  text-align: center;
}
