html, body {
  background-color: #333333;
  font-family: 'Lato', sans-serif;
}
header {
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
}
footer {
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
}
.content {
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: none;
  height: 600px;
}
#content {
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: none;
  height: 600px;
}
.borders {
  border: 2px solid black;
}
h1 {
  color: #FFFFFF;
  margin-bottom: 40px;
}
nav {
  margin-top:15px;
}
#topSpacing {
  padding-top: 30px;
}
#logo {
  height:150px;
  width:150px;
  float:right;
}
.smallLogo {
  height: 70px;
  width: 70px;
  padding-right: 10px;
  padding-top: 2px;
  float:right;
}
.leftspacing {
  padding-left: 30px;
}
.navspacing {
  margin-left: 30px;
}
#navBrowser {
  overflow-y: scroll;
  height: 500px;
  resize: none;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
li {
  border-bottom: 1px solid black;
  margin-bottom:0px;
  padding-left: 10px;
  padding-top: 10px;
}
li:hover {
  background-color: #E0DDD1;
}

#noteList li p:first-child {
  font-weight: bold;
}

#noteList li p:nth-child(2) {
  font-style: italic;
  font-size: 12px;
}

#titleTextArea {
  min-height:38px;
  height:40px;
  width:500px;

}
#textInput {
  height:500px;
  width:805px;
  background-color: #ffffff;
  padding-left:30px;
}
#contentTextArea {
  width:500px;
  height:300px;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: #555;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #CF3328;
  border-color: #CF3328; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
<<<<<<< HEAD
input[type="button"].button-primary:hover, /*{
  background-color: #C2281E;
}*/
=======
input[type="button"].button-primary:hover,

>>>>>>> 7dfb10320deda3d081572fd4658cde2a45aa14aa
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #C2281E;
  border-color: #C2281E; }

.alignButtons {
  margin-left:50px;
}
#tagForm {
  color: #C2281E;
}
.tagColor {
  color: #000000;
}
.imageSize {
  height:200px;
  width:200px;
  border: 1px solid #fff;
  float: right;
}
.aboutAlign {
  text-align: center;
}
.info {
  margin-top:55px;
  padding-right: 100px;
}

.info:last-child {
  padding-bottom: 70px;
}
#noteWrapper {
  background-color: #FFFFFF;
  padding-left: 30px;
  padding-top: 10px;
}
.labelColor {
  color: #000000;
}
.whiteText {
  color:#FFFFFF;
}
.changeFont {
  font-size: 24px;
  text-align: left;
}

legend {
  padding-top: 20px;
}

